.filter-bar {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
 
    
    margin-right: 20px; /* Adjust as needed */
    position: fixed;
    left: 20px; /* Adjust as needed */
    top: 130px; /* Adjust as needed */
    display: inline;
    background-color: white;
    z-index: 999; 
  }
  .filter-section {
    margin-bottom: 10px;
  }
  
  .filter-section h3 {
    margin-bottom: 5px;
  }
  
  .apply-button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .apply-button:hover {
    background-color: #45a049;
  }
  /* Add this to your CSS */
.close-button-container {
    position: absolute;
    top: 100px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    z-index: 2; /* Ensure it's above the filter content */
  }
  
  .close-button {
    background-color: #ccc; /* Adjust the background color as needed */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  